.FriendsBuilder {
    border: 1px solid #ccc;
    min-height: 1px;
}

.FriendsWrapper {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 5px));
    justify-content: space-between;
}