.SearchBarWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.SearchBar {
    width: 100%;
    height: 30px;
    display: flex;
    border: 1px solid #4267B2;
    border-radius: 4px;
}

.SearchBar input {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: 0;
    padding: 0 10px;
}

.SearchBarWrapper input:focus {
    outline: 0;
}

.SearchBarWrapper svg {
    border-left: 1px solid #ccc;
    height: 100%;
    background-color: #EBEDF0;
}

.SearchResultWrapper {
    border: 1px solid #ccc;
    background-color: white;
    flex-grow: 1;
    width: 100%;
    border-radius: 2px;
}

.SearchResultWrapper a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: #1D2129;
}

.SearchResultWrapper a:hover {
    background-color: #ECF0F7;
}