.FriendsItem {
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.ProfilePhoto {
    display: block;
    border-radius: 1px;
    height: 100%;
    width: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.NameAndFriendsWrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    width: 50%;
}

.Name {
    color: #365899;
    text-decoration: none;
    font-weight: 800;
}

.Name:hover {
    text-decoration: underline;
}

.MutualFriends {
    color: #606770;
    font-size: 13px;
}