.OuterToolbar {
    width: 100%;
    height: 43px;
    position: fixed;
    top: 0;
    background-color: #2851a3;
    z-index: 100;
    display: flex;
    align-items: center;
}

.Toolbar {
    height: 100%;
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
    overflow: hidden;
}

.LogoWrapper, .SearchWrapper, .NavigationWrapper {
    margin-right: 10px;
    display: flex;
}

.SearchWrapper {
    flex-grow: 1;
}