.MainContainer {
    padding: 57px 0 0;
    display: flex;
    width: 900px;
    margin: auto;
    align-items: center;
    background-color: #E9EBEE;
}

.SideNavigation {
    width: 180px;
    border: 1px solid green;
    margin-right: 10px;
}

.Stream {
    width: 500px;
    margin-right: 10px;
}

.RightColumn {
    width: 300px;
    border: 1px solid red;
}