.ProfilePageWrapper {
    justify-content: center;
    flex: auto;
    display: flex;
    margin-bottom: 10px;
}

.ProfileInnerPage {
    min-height: 100vh;
    margin-top: 2px;
    width: 900px;
}

.FindFriendsLayout {
    margin-top: 57px;
}